.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

build/
*/.idea/caches/
.idea/workspace.xml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_Plugins.xml
.idea/workspace.xml
example/ios/Flutter/flutter_export_environment.sh
